<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mean Demo</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
 <div ng-controller='myController' class="container">
 	<h1>Mean Demo</h1>
	  <p class="text-primary">Its a simple Mean Demo</p>
	  <blockquote class="blockquote-reverse text-success">
	    <p>It is useful for beginner who are new for mean . I have use everything that should be required in mean like mongodb as a database, angularjs frontend framwork, node js server side platform build in javascript and express framwork.</p>
	    <footer class="bg-info">----   Nitesh: niteshpsit@gmail.com</footer>
	  </blockquote>
 	<div>
 		<form action="#" ng-submit="register()" name="myForm" novalidate>
	 		<div>
	 			<span>Name:<input type="text" name="name" ng-model="name" placeholder="name" required/></span>
	 			<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
	 				<span ng-show="myForm.name.$error.required">Username is required</span>
	 			</span>
	 		</div>
	 		<div>
	 			<span>Email:<input type="email" name="email" ng-model="email" placeholder="email" required/></span>
	 			<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
				<span ng-show="myForm.email.$error.required">Email is required.</span>
				<span ng-show="myForm.email.$error.email">Invalid email address.</span>
				</span>
	 		</div>
	 		<div>
	 			<span>password:<input type="password" name="password" ng-model="password" placeholder="******" required/></span>
	 			<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
	 				<span ng-show="myForm.password.$error.required">Password required</span>
	 			</span>
	 		</div>
	 		<div>
	 			<span>confirm password:<input type="password" name="con_password" ng-model="con_password" placeholder="******" required/></span>
	 			<span style="color:red" ng-show="myForm.con_password.$dirty && myForm.con_password.$invalid">
	 				<span ng-show="myForm.con_password.$error.required">Re-Enter password</span>
	 			</span>
	 		</div>
	 		<div>
	 			<span>Contact:<input type="number" name="contact" ng-model="contact" placeholder="123456789" required/></span>
	 			<span style="color:red" ng-show="myForm.con_password.$dirty && myForm.con_password.$invalid">
	 				<span ng-show="myForm.con_password.$error.required">Number Required</span>
	 			</span>
	 		</div>
	 		<div>
	 			<span>Gender:<input type="text" name="gender" ng-model="gender" placeholder="male or female" required/></span>
	 			<span style="color:red" ng-show="myForm.gender.$dirty && myForm.con_password.$invalid">
	 				<span ng-show="myForm.gender.$error.required">Gender Required</span>
	 			</span>
	 		</div>
	 		<div>
	 			<input type="submit" value="Register" ng-disabled="myForm.$invalid"/></span>
	 		</div>
	 	</form>
 	</div>
 	<div ng-repeat="user in users">
 		<span>{{user.name}}</span>
 		<span>{{user.contact}}</span>
 	</div>
 </div>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="app.js"></script>
 </body>
</html>