<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mean Demo</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/loginCss.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
 	<script src="app.js"></script>
 	<script src="js/controller/authenticationController.js"></script>
</head>
<body>
 <div ng-controller='myController' class="container">
 	<div class="bg-warning">
	 	<div class="row">
	 		<div class="col-sm-6">
		 		<h1>Mean Demo</h1>
		 		<p class="text-primary">Its a simple Mean Demo</p>
		 	</div>
		 	<div class="col-sm-2"></div>
		 	<div class="col-sm-4">
		 		
		 	</div>
		</div>	
		  <blockquote class="blockquote-reverse text-success">
		    <p>It is useful for beginner who are new for mean . I have use everything that should be required in mean like mongodb as a database, angularjs frontend framwork, node js server side platform build in javascript and express framwork.</p>
		    <footer class="bg-info">----   Nitesh: niteshpsit@gmail.com</footer>
		  </blockquote>
	 	<div class="row">
		  <a href="#home"><div class="col-sm-2 text-primary well well-sm">Home</div></a>
		  <a href="#login"><div class="col-sm-2 text-primary well well-sm" ng-hide="isUserLogin">Login</div></a>
		  <a href="#registration"><div class="col-sm-2 text-primary well well-sm" ng-hide="isUserLogin">Register</div></a>
		  <a ng-click="logout()" href="#"><div class="col-sm-2 text-primary well well-sm" ng-show="isUserLogin">Logout</div></a>
		  <a href="#profile"><div class="col-sm-2 text-primary well well-sm" ng-show="isUserLogin">Profile</div></a>
		  <a href="#contact"><div class="col-sm-2 text-primary well well-sm">Contact</div></a>
		  <div class="col-sm-4"></div>
		</div>
	</div>

 	<div ng-view></div>
 </div>
 </body>
</html>